<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="shortcut icon" type="image/png" href=""/>
  <link rel='stylesheet' href='/login_style.css' />  
  <link rel="stylesheet" type="text/css" href="/sweetalert.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 
</head>
<body style="background-color: #5480d6 !important">
  
  <div class="box-registration" style="width: 50%; background-color: transparent;">
    <div class="row">
      <div class="col-md-12 title-registration">
        <h3>Selamat Datang di Mini e-Wallet</h3>
        <p><a href="/login" style="color: #ff0;"><b>Klik Disini</b> </a> untuk masuk ke halaman utama</p>
      </div>
    </div>
  </div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/sweetalert.min.js"></script>
<script src="/asset.js"></script>
</body>
</html>
